{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
        {% if books %}
        {% for book in books %}
            <div class="book col-md-4">
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date|date:'Y-m-d' }}</p>
            </div>
        {% endfor %}
        {% else %}
        <h2>Книг за эту дату нет!</h2>
        {% endif %}
        </div>
        <div class="footer">
        <div class="row">
            <div class="col-md-2">
                {% if prev_date %}
                    <a href="/books/{{ prev_date }}">< {{ prev_date}}</a> 
                {% endif %}
            </div>
            <div class="col-md-2">
                {% if next_date %}
                    <a href="/books/{{ next_date }}">{{ next_date }} ></a> 
                {% endif %}
            </div>
        </div>
        </div>
    </div>
{% endblock %}